@tailwind utilities;
@tailwind base;
@tailwind components;

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 22 89% 52%;
		--primary-foreground: 210 40% 98%;
		--primary-gradient: radial-gradient(50% 50% at 50% 50%, rgb(241, 102, 23) 0%, rgb(241, 167, 23) 100%);

		--white-gradient: linear-gradient(90deg, #eae8f4 0%, #eeebe1 50%, #f5e5dc 100%);

		--border-secondary: rgba(255, 255, 255, 0.1);

		--secondary: 210 40% 96.1%;
		--secondary-foreground: 222.2 47.4% 11.2%;

		--muted: 210 40% 96.1%;
		--muted-foreground: 215.4 16.3% 46.9%;

		--accent: 210 40% 96.1%;
		--accent-foreground: 222.2 47.4% 11.2%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 214.3 31.8% 91.4%;
		--input: 214.3 31.8% 91.4%;
		--ring: 222.2 84% 4.9%;

		--body: #121212;
		--error: 3 55% 49%;

		--radius: 0.5rem;
	}

	.light {
		--border-secondary: rgba(0, 0, 0, 0.1);
		--body: #FFF;
	}
}

@layer base {
	* {
		@apply border-border;
	}
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
}

html, body {
	height: 100%
}